@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /* #### Text */
    --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);
    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);

    /* #### Background gradient */
    --LinearGradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    
    --LightGrayishBlue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
}

body {
    background-image: var(--LinearGradient);
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 920px;
    height: 510px;
    border-radius: 35px;
    background-color: var(--LightGrayishBlue);
    display: flex;
}

.wrapper__img {
    width: 50%;
    height: 100%;
    background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center right -30%, right 65%;
    position: relative;
}

.wrapper__icon {
    background-image: url(./images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 200px;
    height: 180px;
    position: absolute;
    top: 41%;
    left: -22%;
}

.wrapper__content {
    width: 50%;
    padding: 66px 45px;
}

.wrapper__list {
    width: 80%;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

h1  {
    width: 80%;
    margin: 0 auto 20px;
}

.wrapper__list > li {
    border-bottom: 1px solid var(--DarkGrayishBlue);
    padding: 15px 0;
}

summary {
    cursor: pointer;
    margin-bottom: 10px;
}

summary:focus {
    outline: 0;
}

summary:hover {
    color: var(--SoftRed);
}

summary::-webkit-details-marker {
    float: right;
    background: url(./images/icon-arrow-down.svg) center no-repeat;
    color: transparent;
    margin-right: 10px;
}

details[open] summary::-webkit-details-marker {
    transform: rotate(180deg);
}

details[open] summary {
    font-weight: 700;
}

@media (max-width:375px) {
    .wrapper {
        width: 87vw;
        flex-direction: column;
    }

    .wrapper__img {
        width: 100%;
        height: 130px;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 72%;
        background-position: 50% 130%;
    }

    .wrapper__icon {
        background-image: url(./images/illustration-woman-online-mobile.svg);
        top: -82%;
        left: 7%;
        width: 80%;
        height: 200px;
    }

    .wrapper__content {
        width: 100%;
        padding: 0;
    }

    h1 {
        text-align: center;
    }
}